{% extends "layout.html" %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>


<div class="main">
    <h1>Create Item</h1>

    <div class="createform">
    <form id="create_form">
    Title:
    <input type="text" name="name" id="name">

    Description:
    <input type="text" name="desc" id="desc">

    Category:
    <select name="category">
    {% for n in categories %}
        <option value={{n}}>{{n}}</option>
    {% endfor %}
    </select>
    <input type="submit">
    </form>
    </div>

    <div id="result"></div>
</div>

<script>
$("#create_form").submit(function(event){
    event.preventDefault();
    validator();
});

function validator(){
    if($("#name").val()=="" || $("#desc").val()==""){
        console.log("error")
        $("#result").html("Error. Please enter a name and a description")
    }
    else{
      tryAdd();
    }
}

function tryAdd() {
    $.ajax({
      type: 'POST',
      url: "/tryadd",
      dataType: "json",
      data: $("#create_form").serialize(),
      success: function(result) {
        $("#result").html(result['html']);

        if(result['status'] === "SUCCESS"){
            window.location.href = "{{ url_for('.make_catalog') }}"
        }
      },
      error: function(result) {
        $("#result").html("ERROR. Couldn't get data from server");
      },
      
  });
}
</script>
{% endblock %}